*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-dark: #842029;
  --green-dark: #0f5132;
  /* rest of the vars */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--red-dark);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--green-dark);
  box-shadow: var(--shadow-3);
}

.container {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 5rem;
}

.result {
  font-size: 1.5rem;
}